@use 'variables';

// Upper case texts mixin
@mixin uppercase_text($color: variables.$primary-color) {
    color: $color;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Avenir' sans-serif;
}

// status tag mixin
@mixin status_tag($text_color, $bg_color) {
    background-color: $bg_color;
    color: $text_color;
    font-size: 12px;
    border-radius: 9px;
    padding: 1rem;
    border: 1px solid $text_color;
}

// responsiveness styling

// Breakpoint variables
$breakpoints: (
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
);

// Mixins for each breakpoint
@mixin xs {
    $value: map-get($breakpoints, xs);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin xs_max {
    $value: map-get($breakpoints, xs);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin sm {
    $value: map-get($breakpoints, sm);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin sm_max {
    $value: map-get($breakpoints, sm);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin md {
    $value: map-get($breakpoints, md);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin md_max {
    $value: map-get($breakpoints, md);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin lg {
    $value: map-get($breakpoints, lg);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin lg_max {
    $value: map-get($breakpoints, lg);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin xl {
    $value: map-get($breakpoints, xl);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin xl_max {
    $value: map-get($breakpoints, xl);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin xxl {
    $value: map-get($breakpoints, xxl);

    @media only screen and (min-width: #{$value}) {
        @content;
    }
}

@mixin xxl_max {
    $value: map-get($breakpoints, xxl);

    @media only screen and (max-width: #{$value}) {
        @content;
    }
}
