@use 'variables';

// Upper case texts mixin
@mixin uppercase_text($color: variables.$primary-color) {
    color: $color;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
