@use 'variables';

.section_container {
    color: variables.$secondary_color;

    .section_style {
        border-bottom: 1px solid rgba(33, 63, 125, 0.06);
        padding: 2rem;
        text-transform: capitalize;

        h5 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .info_grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;

            .tag_container {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;

                .title {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 14px;
                }

                .value {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .row_two {
            @extend .info_grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
