@use 'variables';
@use 'mixins';

.sidebar {
    width: 70%;
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 4rem;
    left: -900px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    transition: left 0.3s ease;
    z-index: 950;

    &.open {
        left: 0;
        /* Show when open */
    }

    &.closed {
        left: -1000px;
        /* Hide when closed */
    }

    @include mixins.xl {
        display: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .link {
        text-decoration: none;
        display: block;
        width: 100%;
        color: variables.$active_text;
    }

    div {
        width: 100%;

        .switch {
            margin-top: 2rem;
            margin-bottom: 3rem;
            text-align: start;
        }

        .nav_button {
            border: none;
            background-color: inherit;
            padding: 0.9 2rem;
            outline: none;
            display: flex;
            align-items: center;
            gap: 1.3rem;
            font-family: 'Work Sans';
            color: variables.$active_text;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
        }

        .nav_heading {
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 0.5rem;
            margin-top: 2rem;
            padding: 0 2rem;
            font-family: 'Work Sans';
            font-weight: 500;
            color: variables.$text_color;
        }

        .sidebar_navigation {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            padding-top: 0.4rem;

            li {
                display: block;
                padding: 0.2rem 0;
                text-decoration: none;

                .nav_route {
                    display: flex;
                    width: 100%;
                    gap: 0.7rem;
                    padding: 0.9rem 2rem;
                    align-items: center;
                    cursor: pointer;

                    .nav_title {
                        font-family: 'Work Sans';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        padding: 0px 10px;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }

                .active {
                    border-left: 5px solid variables.$primary_color;
                    background-color: rgba(57, 205, 204, 0.08);
                }
            }
        }

        .logout {
            margin-top: 2.5rem;
            padding-top: 1rem;
            gap: 1.5rem;
            border-top: 1px solid rgba(33, 63, 125, 0.06);

            p {
                font-size: 12px;
                font-family: 'Work Sans';
                padding: 2rem;
                color: variables.$secondary_color;
            }
        }
    }
}
